@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@plugin "daisyui/theme"{
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #f90202
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f90202
}

@layer utilities {
  .padding {
    @apply xl:px-60 px-10 ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-image: url("../../public/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-image: url("../../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galleria1 {
  background-image: url("../../public/galleria1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galleria2 {
  background-image: url("../../public/galleria2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galleria3 {
  background-image: url("../../public/galleria3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.unica {
  background-image: url("../../public/background-unica.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.chisiamo {
  background-image: url("../../public/home.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.chisiamo1 {
  background-image: url("../../public/home.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.servizio1 {
  background-image: url("../../public/servizio1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.servizio2 {
  background-image: url("../../public/servizio2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.servizio3 {
  background-image: url("../../public/servizio3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.servizio4 {
  background-image: url("../../public/servizio4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.servizio5 {
  background-image: url("../../public/servizio5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.servizio6 {
  background-image: url("../../public/servizio6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
